package routes

import (
	"anetos.dev/anetos/web"

	"[[.Module]]/app/handlers"
)

// [[.Plural]] adds the [[.PluralW]] pages (anetos make:crud): Register calls it
// with its pages group. To let only signed-in users in, call it from
// routes/auth.go with the members group instead.
func [[.Plural]](r *web.Router) {
	var h handlers.[[.Plural]]
	r.Get("/[[.Path]]", web.H(h.Index)).Name("[[.Path]].index")
	r.Get("/[[.Path]]/new", h.New).Name("[[.Path]].new")
	r.Post("/[[.Path]]", web.H(h.Create)).Name("[[.Path]].store")
	r.Get("/[[.Path]]/{id}", web.H(h.Show)).Name("[[.Path]].show")
	r.Get("/[[.Path]]/{id}/edit", web.H(h.Edit)).Name("[[.Path]].edit")
	r.Put("/[[.Path]]/{id}", web.H(h.Update)).Name("[[.Path]].update")
	r.Delete("/[[.Path]]/{id}", web.H(h.Delete)).Name("[[.Path]].destroy")
}
